<html>
<head>
  <title>Bad Request</title>
</head>
<body>
<h1>Bad Request</h1>
  <p>An invalid submission was sent. All valid submissions are still in the
  database.</p>
<p>A submission must:</p>
<ul>
  <li>Have at least one Controle Point</li>
  <li>Be entered in ascending order</li>
  <li>Not contain holes between Controle Point(s)</li>
  <li>Have the final Controle Point at least equal to the brevet distance</li>
  <li>Have the final Controle Point not greater than 120% of the brevet distance</li>
</ul>
</body>
</html>
